Reading data from JSON

In [2]:
fd=open("record.json",'r')
r=fd.read()
fd.close()

In [3]:
import json
record=json.loads(r)

In [5]:
data=json.loads(record)

In [9]:
data

{'11200989': {'Quantity': '200',
  'category': 'Biscuit',
  'cost': '20',
  'exp': 'JAN 2022',
  'name': 'Britannia'},
 '11996733': {'Quantity': '250',
  'category': 'Food',
  'cost': '12',
  'exp': 'JUL 2022',
  'name': 'Maggi'},
 '12091478': {'Quantity': '150',
  'category': 'Snacks',
  'cost': '10',
  'exp': 'DEC 2021',
  'name': 'Kurkure'},
 '12314567': {'Quantity': '150',
  'cateory': 'Toothpaste',
  'cost': '65',
  'exp': 'JAN 2023',
  'name': 'Colgate'},
 '13553548': {'Quantity': '190',
  'category': 'Chocolate',
  'cost': '30',
  'exp': 'JAN 2022',
  'name': 'Snickers'},
 '13689645': {'Quantity': '250',
  'category': 'Cooking Oil',
  'cost': '199',
  'exp': 'OCT 2022',
  'name': 'Saffola'},
 '13988242': {'Quantity': '200',
  'category': 'Snacks',
  'cost': '10',
  'exp': 'DEC 2021',
  'name': "Lay's"},
 '16323913': {'Quantity': '150',
  'category': 'Biscuit',
  'cost': '10',
  'exp': 'FEB 2022',
  'name': 'Parle-G'},
 '18093638': {'Quantity': '110',
  'category': 'Biscuit',
  'cost': '20',
  'exp': 'MAR 2022',
  'name': 'Bourbon'},
 '18536358': {'Quantity': '200',
  'category': 'Soft Drinks',
  'cost': '50',
  'exp': 'DEC 2021',
  'name': 'Sprite'},
 '19329932': {'Quantity': '210',
  'category': 'Cleansers',
  'cost': '25',
  'exp': 'JUL 2022',
  'name': 'Cinthol'},
 '20023840': {'Quantity': '150',
  'category': 'Soft Drinks',
  'cost': '30',
  'exp': 'APR 2022',
  'name': 'Pepsi'},
 '25823576': {'Quantity': '100',
  'category': 'Detergent',
  'cost': '60',
  'exp': 'OCT 2022',
  'name': 'Tide'},
 '28576854': {'Quantity': '170',
  'category': 'Soft Drinks',
  'cost': '25',
  'exp': 'DEC 2022',
  'name': 'Coca-Cola'},
 '33745614': {'Quantity': '250',
  'category': 'Biscuit',
  'cost': '20',
  'exp': 'FEB 2022',
  'name': 'Monaco'},
 '33988951': {'Quantity': '290',
  'category': 'Ice Cream',
  'cost': '100',
  'exp': 'OCT 2021',
  'name': 'Hangyo'},
 '34266837': {'Quantity': '200',
  'category': 'Moisturizer',
  'cost': '299',
  'exp': 'DEC 2023',
  'name': 'Nivea'},
 '47845671': {'Quantity': '230',
  'category': 'Antiseptic',
  'cost': '175',
  'exp': 'FEB 2022',
  'name': 'Dettol'},
 '63986447': {'Quantity': '270',
  'category': 'Soft Drinks',
  'cost': '35',
  'exp': 'JUN 2022',
  'name': '7 UP'},
 '68927657': {'Quantity': '80',
  'category': 'Cleansers',
  'cost': '10',
  'exp': 'JUL 2022',
  'name': 'Medimix'},
 '76576937': {'Quantity': '190',
  'category': 'Cleansers',
  'cost': '180',
  'exp': 'SEP 2023',
  'name': 'Pears'},
 '86678868': {'Quantity': '250',
  'category': 'Cooking Oil',
  'cost': '180',
  'exp': 'SEP 2022',
  'name': 'Fortune'},
 '87936649': {'Quantity': '250',
  'category': 'Soft Drinks',
  'cost': '30',
  'exp': 'JUL 2022',
  'name': 'Thums Up'},
 '89747794': {'Quantity': '150',
  'category': 'Snacks',
  'cost': '10',
  'exp': 'DEC 2021',
  'name': 'Bingo'},
 '89765467': {'Quantity': '220',
  'category': 'Soft Drinks',
  'cost': '25',
  'exp': 'FEB 2022',
  'name': 'Fanta'},
 '97467231': {'Quantity': '195',
  'category': 'Detergent',
  'cost': '50',
  'exp': 'DEC 2021',
  'name': 'Surf Excel'},
 '97801768': {'Quantity': '120',
  'category': 'Perfume',
  'cost': '299',
  'exp': 'JAN 2023',
  'name': 'FOGG'},
 '98346799': {'Quantity': '170',
  'category': 'Soft Drinks',
  'cost': '20',
  'exp': 'JUL 2022',
  'name': 'Limca'},
 '98798411': {'Quantity': '100',
  'category': 'Biscuit',
  'cost': '20',
  'exp': 'Jan 2022',
  'name': 'Oreo'},
 '99387265': {'Quantity': '180',
  'category': 'Chocolate',
  'cost': '30',
  'exp': 'FEB 2022',
  'name': 'Kit-Kat'}}

In [13]:
#adding new item
prod_id=str(input("Enter product id :"))
name=str(input("Enter the name of the product:"))
pr=int(input("Enter the price:"))
cate=str(input("Enter the product category:"))
qn=int(input("Enter the quantity:"))
exp=str(input("Enter the exp date :"))
data[prod_id]={"name":name, "category":cate ,"exp": exp,"cost":pr,"Quantity":qn}

Enter product id :12350987
Enter the name of the product:Good Day
Enter the price:10
Enter the product category:Biscuit
Enter the quantity:250
Enter the exp date :JAN 2022

In [26]:
#there are 190 "Snickers" chocolates
data["13553548"]

{'Quantity': '190',
 'category': 'Chocolate',
 'cost': '30',
 'exp': 'JAN 2022',
 'name': 'Snickers'}

In [28]:
#adding 100 more chocolates...
data["13553548"]["Quantity"]=str(int(data["13553548"]["Quantity"])+100)

In [29]:
data["13553548"]

{'Quantity': '290',
 'category': 'Chocolate',
 'cost': '30',
 'exp': 'JAN 2022',
 'name': 'Snickers'}

In [30]:
#Items in Inventory
len(data)

31

In [33]:
js=json.dumps(data)
fd=open("Record.json","w")
fd.write(js)
fd.close()